@model BikeStore.Web.ViewModels.CreateProductViewModel

@{
    ViewData["Title"] = "Criar Produto";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-bg-danger mb-3"></div>
    
    <partial name="_ProductForm" model="Model" />
    
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save"></i>
            Criar
        </button>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i>
            Voltar
        </a>
    </div>
</form>